:root {
    --bs-primary: #b200ca;
    --bs-primary-rgb: 178,0,202;
    --bs-secondary: #9cc9eb;
    --bs-secondary-rgb: 156,201,235;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    }
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }
.subheading {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
    }

.expedu_icon {
        color: #495056;
    }
    
.social-icons .social-icon:hover {
        background-color: var(--bs-secondary);
    }
    table{
        width: 100%;
    }
    
    th,td{
        text-align:left;
        border: 3px solid black;
    }
    
    th:nth-child(odd){
        color:#faf7f7;
        background-color: #b200ca;
    }
    
    td:nth-child(odd){
        color:#ffffff;
        background-color: #4e1156;
    }
    